
<div class="card">
  <%=image_tag "#{@show["poster_path_url"]}", :class => "img-thumbnail" %>
    <h3 class="show_name"><%= @show["name"] %></h3>
    <p>Network: <%= image_tag("#{@show["network_tag_url"]}", :class => "network_logo") %>
    <p>Creator: <%= @show["created_by"] %></p>
    <p>Seasons: <%= @show["number_of_seasons"].to_s %></p>
    <p>Episodes: <%= @show["number_of_episodes"].to_s %></p>
    <p>Genre: <%= @show["genres"] %></p>
    <p>Type: <%= @show["type"] %></p>
    <p>Country of Origin: <%= @show["origin_country"] %></p>
    <p>First Air Date: <%= @show["first_air_date"] %></p>
    <p>Most Recent Air Date: <%= @show["last_air_date"] %></p>
    <i id="overview">Overview: <br><%= @show["overview"] %></i>
    <h4><%= link_to "Check out JustWatch.com for currently available streaming options", "#{@show["justwatch_url"]}", :id => "just_watch" %></h4>
  </div>
</div>
</br>
