<!DOCTYPE html>
<html>
  <head>
    <title>Bingeable</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="nav navbar">
        <h1 id="title">
          <%= link_to image_tag("logo.png"), root_path %>
          <%= link_to "Bingeable", root_path %>
        </h1>
        <p>The Guide to Your Next TV Obsession</p>

        <%= form_tag(tvshows_search_path, method: "get") do %>
          <%= text_field_tag(:query, nil, placeholder: "Search TV Shows") %>
          <!-- <%= submit_tag("Search", :class=>"btn btn-primary") %> -->
        <% end %>
      </div>

      <%= yield %>
  </body>
</html>
